@media screen and (max-width: 400px) {
    .catalog-1 {
        display: flex;
        flex-wrap: wrap;
        width: 1040px;
        padding-left: 20px;
    }
    .catalog-2{
        width: 1000px;
    }
    .catalog-item{
        width: 500px;
    }
    .catalog-title{
        font-size: 70px;
    }
    .catalog-item h3{
        font-size: 50px;
        line-height: 50px;
    }
    .catalog-item strong{
        font-size: 50px;
        line-height: 50px;

    }
}