@media screen and (max-width: 400px) {
    .hero-wrapper{
        margin-top: 40px;
        width: 735px;
        margin-left: 100px;
        height: 1000px;
    }
    .hero-2 {
        flex-direction: column-reverse ;
        gap: 20px;
    }
    .hero-img{
        width: 270px;
        height: 270px;
    }
    .hero-4{
        height: 500px;
    }
    .mySwipers{
        height: 1000px;
    }
    .hero-img{
        width: 400px;
        height: 500px;
    }
    .hero-title{
        font-size: 60px;
        line-height: 82px;
        margin-top: 0;
    }
}